.volume-control {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.volume-control input {
  width: 100px;
  opacity: 1;
  transition: all 0.4s ease;
}

.volume-control:hover input, .volume-control input:focus {
  width: 100px;
  opacity: 1;
}
